* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* variables */
:root {
    --primary-color: #f45c2c;
    --main-color: #293742cc;
    --secondary-color: #2c3b94;
    --text-head-color: #23282d;
    --text-paragraph-color: #222222;
}

.primary-color {
    color: var(--primary-color);
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.text-head-color {
    color: var(--text-head-color);
}

.text-paragraph-color {
    color: var(--text-paragraph-color);
}



.header {
    background-color: var(--main-color);
    padding: 20px;
}

nav ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-underline {
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-underline:hover::after {
    content: "";
    /* padding-bottom: 4px; */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}