body {
    font-family: "Montserrat", sans-serif;
}

/* variables */
:root {
    --primary-color: #f45c2c;
    --main-color: #293742cc;
    --secondary-color: #2c3b94;
    --text-head-color: #23282d;
    --text-paragraph-color: #222222;
}

.button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    transition: all ease 0.3s;
}

.button:hover {
    background-color: #fff;
    color: var(--primary-color);
    outline: 1px solid var(--primary-color);
}

.header {
    background-color: var(--main-color);
    padding: 20px;
}

nav ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.nav-underline {
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-underline:hover::after {
    content: "";
    /* padding-bottom: 4px; */
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}

/* contact form styles */
.form-input:focus {
    outline: 1px solid var(--primary-color)
}

/* footer styles */
.footer {
    background-color: #30353a;
    padding: 20px 50px 20px;
}

.footer-icons i {
    background-color: #fff;
    border-radius: 50%
}